body {
    display: flex;
    height: 100vh;
}

.left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-image: url(./images/seaotter.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80%;
}

.hero {
    text-align: center;
    background: rgba(255, 255, 255, 0.5);   
}


i {
font-size: 6rem;
}


.right {
    width: 60%;
}